<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-15457703-9"></script>
<script>
  if (!location.hostname.match(/localhost/)) {
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-15457703-9');
  }
</script>
<% 
  const img_ = image ? image : 'https://www.sfpgmr.net/img/sfweb.png' ;
%> 
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="リニューアル用のトップページデザインを考えて実装する" />
<meta name="keywords" content="Programming,Music,HTML5,WebGL,javascript,WebAudio" /> 	
<title><%= title %></title>


<meta itemprop="image" content="<%-img_%>" />
<meta itemprop="name" content="<%=title%>" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="<%=site_name%>" />
<meta name="twitter:url" content="<%=url%>" />
<meta name="twitter:title" content="<%=title%>" />
<meta name="twitter:description" content="<%=description %>" />
<meta name="twitter:image" content="<%-img_%>" />
  
<meta property="og:type" content="article">
<meta property="og:url" content="<%-url%>" />
<meta property="og:title" content="<%=title%>"/>
<meta property="og:site_name" content="<%=site_name%>" />
<meta property="og:description" content="<%=description%>">
<meta property="og:image" content="<%-img_%>">

  <script type="application/ld+json">
  <%= JSON.stringify(meta) %>
  </script>
  <script type="application/ld+json">
    {
     "@type": "WebPage",
     "@id": "./webpages/web.html",
     "url": "./webpages/web.html",
     "datePublished": "2017-01-10T08:00:00+08:00",
     "dateModified": "2017-01-12T08:00:00+08:00",
     "headline": "Web関連",
     "keywords": "Programming,Music,HTML5,WebGL,javascript,WebAudio",
     "description": "HTML5,JS,WebGL,WebAudio,SNS API等のコンテンツ",
     "image": {
      "@type": "ImageObject",
      "url": "./img/sfweb.png",
      "width": "640",
      "height": "640"
     },
     "name": "Web関連",
     "about": "HTML5,JS,WebGL,WebAudio,SNS API",
     "author": {
      "@type": "Person",
      "@id": "./profile.html#sfpgmr",
      "name": "Satoshi Fujiwara",
      "image": "https://sfpgmr.net/img/sfpgmr.png",
      "alternateName": "SFPGMR"
     },
     "relatedLink": [
      "http://github.sfpgmr.net",
      "http://blog.sfgpmr.net/"
     ],
     "breadcrumb": {
      "@type": "BreadcrumbList",
      "itemListElement": [
       {
        "@type": "ListItem",
        "position": 1,
        "item": {
         "url": "./webpages/web.html",
         "name": "Web関連"
        }
       }
      ]
     },
     "@context": {
      "@vocab": "http://schema.org/",
      "@base": "https://www.sfpgmr.net/",
      "sf": "https://www.sfpgmr.net/"
     }
    }
    </script>