<!DOCTYPE html>
<%
//const lazyLoading = 'loading="lazy"';
const lazyLoading = '';
%>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-15457703-9"></script>
  <script>
    if (!location.hostname.match(/localhost/)) {
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-15457703-9');
    }
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>トップページをリニューアルする</title>
  <meta name="description" content="<%=meta.description%>" />
  <meta name="keywords" content="<%=meta.keywords%>" /> 	
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta itemprop="image" content="<%-meta.imageUrl%>" />
  <meta itemprop="name" content="<%=meta.siteName%>" />
  
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="<%=meta.siteName%>" />
  <meta name="twitter:url" content="<%-meta.url%>" />
  <meta name="twitter:title" content="<%=meta.title%>" />
  <meta name="twitter:description" content="<%=meta.description%>" />
  <meta name="twitter:image" content="<%-meta.imageUrl%>" />
  
  <meta property="og:type" content="article">
  <meta property="og:url" content="<%-meta.url%>" />
  <meta property="og:title" content="<%=meta.title%>"/>
  <meta property="og:site_name" content="<%=meta.siteName%>" />
  <meta property="og:description" content="<%=meta.keywords%>">
  <meta property="og:image" content="<%-meta.imageUrl%>">

  <script type="application/ld+json">
  {
    "@context": {
      "@vocab": "http://schema.org/",
      "@base": "https://www.sfpgmr.net/"
    },
    "@type": "WebSite",
    "url": "https://www.sfpgmr.net/",
    "headline": "S.F. Web",
    "name": "S.F. Web",
    "about": "IT技術・音楽・ゲームに関する制作物の公開、情報発信を行っています。",
    "keywords": "Programming,Music,Game,C++,DirectX,HTML5,WebGL,javascript,WebAudio",
    "author": {
      "@type": "Person",
      "@id": "./profile.html#sfpgmr",
      "name": "Satoshi Fujiwara",
      "image": "https://sfpgmr.net/img/sfpgmr.png",
      "alternateName": "SFPGMR"
    }
  }
  </script>
  <script type="application/ld+json">
    {
     "@type": "WebPage",
     "@id": "./webpages/web.html",
     "url": "./webpages/web.html",
     "datePublished": "2017-01-10T08:00:00+08:00",
     "dateModified": "2017-01-12T08:00:00+08:00",
     "headline": "Web関連",
     "image": {
      "@type": "ImageObject",
      "url": "./img/sfweb.png",
      "width": "640",
      "height": "640"
     },
     "name": "Web関連",
     "about": "HTML5,JS,WebGL,WebAudio,SNS API",
     "author": {
      "@type": "Person",
      "@id": "./profile.html#sfpgmr",
      "name": "Satoshi Fujiwara",
      "image": "https://sfpgmr.net/img/sfpgmr.png",
      "alternateName": "SFPGMR"
     },
     "keywords": "Programming,Music,HTML5,WebGL,javascript,WebAudio",
     "description": "HTML5,JS,WebGL,WebAudio,SNS API等のコンテンツ",
     "relatedLink": [
      "http://github.sfpgmr.net",
      "http://blog.sfgpmr.net/"
     ],
     "breadcrumb": {
      "@type": "BreadcrumbList",
      "itemListElement": [
       {
        "@type": "ListItem",
        "position": 1,
        "item": {
         "url": "./webpages/web.html",
         "name": "Web関連"
        }
       }
      ]
     },
     "@context": {
      "@vocab": "http://schema.org/",
      "@base": "https://www.sfpgmr.net/",
      "sf": "https://www.sfpgmr.net/"
     }
    }
    </script>

  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    html {
      margin: 0;
      padding: 0;
      font-size:10px;
    }

    body {
      margin: 0;
      padding: 0;
      background: black;
      color: white;
    }

    .top-nav {
      position:fixed;
      z-index:99999;
      background: rgba(0,0,0,0.5);
      display: block;
      width:100%;
      height:32px;
      color:white;
    }
    #sentinel {
      width:0px;
      height:0px;
    }
    .contents {
      padding-top:32px;
      width: 100%;
      position: relative;
      content: strict;
    }

    @keyframes blinking {
      0% {
        color: black;
      }

      50% {
        color: white;
      }

      100% {
        color: black;
      }
    }

    .loading {
      font-family: monospace;
      font-size: 24px;
      position: fixed;
      width: 100vw;
      height: 100vh;
      text-align: center;
      padding-top: 50vh;
      z-index: 32768;
      background: black;
      animation: blinking 2s infinite;
      content: strict;
    }


    .contents > article {
      background: #f0f0f0;
      color: #202020;
      position: absolute;
      max-height: 960px;
      overflow: auto;
      border-radius: 3px;
     /* transition: opacity 1s linear;*/
      opacity: 1.0;
    }

    .tweet-header {
      display: grid;
      align-items: end;
      grid-template-columns: 40px 2fr 1fr;
      grid-template-rows: 1fr;
      font-size: 12px;
      font-weight: bold;
    }


    .tweet-img {
      width: 100%;
      object-fit: cover;
    }

    .youtube {
      position: relative;
      cursor: pointer;
    }

    .youtube > img {
      width: 100%;
      object-fit: cover;
    }

    .youtube > svg.player-play {
      width:64px;
      height:64px;
      left:calc(50% - 32px);
      top:calc(50% - 32px);
      position:absolute;
      z-index: 1000;
      opacity: 0.5;
    }
    
    .youtube:hover > svg.player-play {
      opacity: 1.0;
    }

    .youtube:hover .player-play-1 {
      stroke:#80808080;
    }

    
    .youtube > div.yt-title {
      /*text-shadow: #fff 1px 1px 0;*/
      font-size: 1.2rem;
      color:white;
      background:rgba(0, 0,0,0.5);
      position:absolute;
      left:0;
      top:0;
      overflow: auto;
      z-index:998;
    }


    .tweet-profile-img {
      grid-column: 1/2;
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }

    .tweet-user-name {
      grid-column: 2/3;
    }

    .tweet-date {
      font-size: 8px;
      text-align: right;
      grid-column: 3/4;
    }

    .contents>twitter-widget {
      overflow: auto;
      max-height: 960px;
      position: absolute;
    }

    .contents>article>section>.tweet-text {
      display: block;
      padding: 4px;
      word-break: break-all;
      font-size: 12px;
    }

    .contents>article>h3 {
      font-size: 12px;
    }

    blockquote.card {
      margin:4px;
      padding:4px;
      font-size:12px;
      background:white;
      border-radius: 4px;
    }

    blockquote.card > header {
      display:grid;
      grid-gap:4px;
      gap:4px;
    }

    blockquote.card-default > header {
      grid-template-columns:64px 1fr;
    }

    blockquote.card-large > header {
      grid-template-columns:1fr;
    }

    blockquote.card > header > img {
      width:100%;
    }


    div.no-image {
      display: block;
      width:64px;
      height:64px;
      background:gray;
      color:white;
      text-align: center;
      line-height: 64px;
    }

  </style>
</head>

<body>
  <header class="top-nav">
    <h1>S.F. Page.</h1>
  </header>
  <div class="contents" id="contents" rendersubtree="invisible skip-activation"> %>
  </div>
  <footer>
    CopyLight 2019 Satoshi Fujiwara
  </footer>
  <script async src="./index.js"></script>
</body>

</html>